<div class="col-md-offset-3 col-md-6">
	<form ng-submit="changePassword(credentials)" class="form-login">
		<h4>Edit Your Password.</h4>
		<input type="text" class="form-control input-sm chat-input" placeholder="username" ng-model="credentials.name" />
		</br>
		<input type="password" class="form-control input-sm chat-input" placeholder="password" ng-model="credentials.password" />
		</br>
		<input type="password" class="form-control input-sm chat-input" placeholder="new password" ng-model="credentials.desired_password" />
		</br>
		<input type="password" class="form-control input-sm chat-input" placeholder="new password again" ng-model="credentials.desired_password_again" />
		</br>
		<div class="wrapper">
			<span class="group-btn">     
				<button class="btn btn-primary btn-md" ng-click="changePassword(credentials)">submit <i class="fa fa-pencil"></i></button>
		</span>
		</div>
	</form>
</div>
