<div class="row">
	<div class="col-md-6">
		<div class="card">
			<div class="card-header">
				<b><i class="fa fa-archive fa-1x"></i> Containers</b>
			</div>
			<div class="card-block">
				<div class="row">
					<div class="col-md-12">
						<canvas id="doughnut" class="chart chart-doughnut" chart-data="containerData" chart-labels="containerLabels" style="height:40px;" chart-colors="containerColours" chart-options="options">
						</canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card">
			<div class="card-header">
				<b><i class="fa fa-pie-chart fa-1x"></i> Disk Usage</b>
			</div>
			<div class="card-block">
				<div class="row">
					<div class="col-md-12">
						<canvas id="doughnut" class="chart chart-pie" chart-data="imageData" chart-labels="imageLabels" style="height:40px;" chart-colors="imageColours" chart-options="options">
						</canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="card">
			<div class="card-header">
				<b><i class="fa fa-plug fa-1x"></i> Networks</b>
			</div>
			<div class="card-block">
				<div class="row">
					<div class="col-md-12">
						<canvas id="bar" class="chart chart-bar" chart-data="netData" chart-labels="netLabels">
						</canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card">
			<div class="card-header">
				<b><i class="fa fa-database fa-1x"></i> Volumes</b>
			</div>
			<div class="card-block">
				<div class="row">
					<div class="col-md-12">
						<h1 align="center">{{volumes.length}}</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<b><i class="fa fa-info-circle fa-1x"></i> Host Information</b>
			</div>
			<div class="card-block">
				<div class="row">
					<div class="col-md-12">
						<table class="table table-striped">
							<tr>
								<td><b>Architecture</b></td>
								<td>{{architecture}}</td>
							</tr>
							<tr>
								<td><b>Operating System</b></td>
								<td>{{os}}</td>
							</tr>
							<tr>
								<td><b>CPUs</b></td>
								<td>{{cpus}}</td>
							</tr>
							<tr>
								<td><b>Server Version</b></td>
								<td>{{ serverVersion }}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
