	<div class="col-md-6 col-lg-4">
		<div class="card">
			<div class="card-header">
				<b>Containers</b>
			</div>
			<div class="card-block">
				<div class="row">
					<div class="col-md-12">
						<canvas id="doughnut" class="chart chart-doughnut" chart-data="containerData" chart-labels="containerLabels" height="{{height_chart}}" chart-colors="containerColours" chart-options="options">
						</canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-lg-4">
		<div class="card">
			<div class="card-header">
				<b>Disk Usage</b>
			</div>
			<div class="card-block">
				<div class="row">
					<div class="col-md-12">
						<canvas id="doughnut" class="chart chart-pie" chart-data="imageData" chart-labels="imageLabels" height="{{height_chart}}" chart-colors="imageColours" chart-options="options">
						</canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-lg-4">
		<div class="card">
			<div class="card-header">
				<b>Networks</b>
			</div>
			<div class="card-block">
				<div class="row">
					<div class="col-md-12">
						<canvas id="bar" class="chart chart-bar"
						  chart-data="netData" chart-labels="netLabels">
						</canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-lg-12">
		<div class="card">
			<div class="card-header">
				<b>Volumes</b>
			</div>
			<div class="card-block">
				<div class="row">
					<div class="col-md-12">
						<h1 align="center">{{volumes.length}}</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<b>Host Information</b>
			</div>
			<div class="card-block">
				<div class="row">
					<div class="col-md-12">
						<table class="table table-striped">
						  <tr>
						  	<td><b>Architecture</b></td>
								<td>{{architecture}}</td>
						  </tr>
							<tr>
								<td><b>Operating System</b></td>
								<td>{{os}}</td>
							</tr>
							<tr>
						  	<td><b>CPUs</b></td>
								<td>{{cpus}}</td>
						  </tr>
							<tr>
								<td><b>Server Version</b></td>
								<td>{{ serverVersion }}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
