<div class="row">
	<div class="col-md-12">
		<div class="col-md-2">
		  
		</div>
		<div class="col-md-6">
			<form ng-submit="login(credentials)" class="form-login">
				<h4>Welcome back.</h4>
				<input type="text" class="form-control input-sm chat-input" placeholder="username" ng-model="credentials.name" />
				</br>
				<input type="password" class="form-control input-sm chat-input" placeholder="password" ng-model="credentials.password" />
				</br>
				<div class="wrapper">
					<span class="group-btn">     
						<button class="btn btn-primary btn-md" ng-click="login(credentials)">login <i class="fa fa-sign-in"></i></button>
				</span>
				</div>
			</form>
		</div>
		<div class="col-md-4">
		</div>
	</div>
</div>
