#dashboard {
    font-size: 24px;
}

#container-name {
  font-size: 28px;
  font-weight: bold;
}

.button-wrapper .btn {
    margin-bottom:5px;
}
/*
@media (max-width: 768px) {
  .btn-responsive {
    padding:4px 9px;
    font-size:90%;
    line-height: 1.2;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    padding:4px 9px;
    font-size:90%;
    line-height: 1.2;
  }
}*/
