#dashboard {
    font-size: 24px;
}

#container-name {
  font-size: 28px;
  font-weight: bold;
}

.button-wrapper .btn {
    margin-bottom:5px;
}

.card-header {
background:#F0DFC9;
}

.panel > .panel-heading {
    background-image: none;
    background-color: #F0DFC9;

}

.table thead th { 
  color: black;
  background-color: #FFF8EF;

}

/*
@media (max-width: 768px) {
  .btn-responsive {
    padding:4px 9px;
    font-size:90%;
    line-height: 1.2;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    padding:4px 9px;
    font-size:90%;
    line-height: 1.2;
  }
}*/
