#dashboard {
    font-size: 24px;
}

#container-name {
  font-size: 28px;
  font-weight: bold;
}

.button-wrapper .btn {
    margin-bottom:5px;
}

.card-header {
background:#93C6D6;
}

.breadcrumb {
background:#E3E3E3;
}

.panel > .panel-heading {
    background-image: none;
    background-color: #93C6D6;

}

.table thead th { 
  color: black;
  background-color: #A8E0FF;

}

#loading-bar .bar {
  background: orange;
}

#loading-bar-spinner .spinner-icon {
  background: orange;
}

.my-drop-zone { border: dotted 3px lightgray; }
.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }

input[type=file]{ 
        color:transparent;
}
